@import url(http://fonts.googleapis.com/css?family=Spicy+Rice);
@import url(http://fonts.googleapis.com/css?family=Hanalei);

header{
  color : red;
  border : 1px dashed green;
}

header h1{
  margin-left: 20px;
  font-family: 'Spicy Rice', cursive;
  font-size: 75px;
}

body{
  background: url(/images/tile.jpg) repeat;
}

p{
  font-family: 'Hanalei', cursive;
  color: blue;
  letter-spacing: 3px;
  line-height: 25px;
}

a{
  border: 1px solid blue;
  text-decoration: none;
  background-color: red;
  color: yellow;
  padding: 3px;
  letter-spacing: 2px;
  border-radius: 10px;
}

a:hover{
  background-color: yellow;
  color: red;
}

