doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Odd Even LIs
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    #controls
      input#number(type='text', autofocus=true, placeholder='10')
      button#add-li Add LIs
    ul#container

