doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Shell Game
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jq.js')
    script(src='/js/source/main.js')
  body
    #score
    button#play Play!
    #container
      - for(var i = 0; i < 3; i++)
        .cup= i + 1

