doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Highway Webcams
    .row
      .small-4.columns
        input#zip(type='text', placeholder='zip code', autofocus=true)
      .small-2.columns
        button#add-zip.tiny.radius Add Zip
      .small-2.columns
        select#codes
      .small-2.columns
        button#get-cam.tiny.radius Get Cams
      .small-2.columns
        button#clr-cam.tiny.radius Clear Cams
    .row
      .small-12.columns
        #webcams

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/source/main.js')
    script $(document).foundation();

