doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Inception
    script(src='/js/vendor/jq.js')
    script(src='/js/source/main.js')
  body
    input#number(type='text', autofocus=true, placeholder='10')
    button#inception Inception!
    #container
      #seed

