doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Note Taker
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-4.columns
        h1 Note Taker
      .small-8.columns
        .row
          .small-12.columns
            button#authentication.tiny Register/Login
        .row
          .small-12.columns
            form#user.hide
              fieldset
                legend User Authentication
                .row
                  .small-12.columns
                    label Email
                    input(type='text', name='email')
                .row
                  .small-12.columns
                    label Password
                    input(type='password', name='password')
                .row
                  .small-3.columns
                    button#register.tiny.expand Register
                  .small-3.columns
                    button#login.tiny.expand Login
                  .small-6.columns

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

